main{
  width: 50vw;
  margin: 1em auto;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}
nav{
  border-bottom: 1px solid #ccc;
  padding: 1em;
}
form{
  width: 15em;
  display: flex;
  justify-content:center;
  flex-direction: column;
}
form input{
  margin: 5px;
}
form input[type='submit']{
  padding: 7px;
  font-weight: bold;
}
.message{
  color: gray;
  margin: 1em;
}
